img {
	margin-top: 10px;
}

.addon-empty {
	padding-left: 20px !important;
}

.bckg-white {
	background: #FFF !important;
}

.bckg-gray {
	background: #B5B5B5 !important;
}

.color-black {
	color: #000 !important;
}

.main-border {
	border: 3px double #000;
	padding-left: 0px;
	padding-right: 0px;
	height: 1100px;
}

.main-border-wihtoutHeight {
	border: 3px double #000;
	padding-left: 0px;
	padding-right: 0px;
}

.simple-border {
	border: 1px solid #000;
	padding-left: 0px;
	padding-right: 0px;
}

.to-bottom {
	bottom: 0px;
	position: absolute;
}

.paddi-botom {
	padding-bottom: 16px;
}

.margin-top {
	margin-top: 10px !important;
}

.whithout-margin {
	margin: 0px !important;
}

.color-white {
	background-color: #FFF;
}