img {
	margin-top: 10px;
}

table {
	color: #000;
	line-height: 1.42857143;
  	color: #333;
}

.table-carnet {
	height: 445px;
}

.table-carnet-half {
	height: 175px;
}
/*
tr {
	border: 1px solid #ddd;
}*/

.addon-empty {
	padding-left: 20px !important;
}

.bckg-white {
	background: #FFF !important;
}

.bckg-gray {
	background: #B5B5B5 !important;
}

.border-soft {
	border: 1px solid #000;
}

.color-black {
	color: #000 !important;
}

.img-cree-hfrontral {
	float: right;
	margin-right: 15px;
	height: 70px;
	width: 70px;
}

.main-border {
	border: 3px double #000;
	padding-left: 0px;
	padding-right: 0px;
	height: 1500px;
}

.main-border-wihtoutHeight {
	border: 3px double #000;
	padding-left: 0px;
	padding-right: 0px;
}

.simple-border {
	border: 1px solid #000;
	padding-left: 0px;
	padding-right: 0px;
}

.to-bottom {
	bottom: 0px;
	position: absolute;
}

.paddi-botom {
	padding-bottom: 16px;
}

.margin-top {
	margin-top: 10px !important;
}

.without-margin {
	margin: 0px !important;
}

.without-padding {
	padding: 0px !important;
}

.color-white {
	background-color: #FFF;
}