img {
	margin-top: 10px;
}

table {
	color: #000;
	line-height: 1.42857143;
	border-color: #000 !important;
}

.table-carnet {
	height: 445px;
}

.table-carnet-half {
	height: 175px;
}
.table-bordered {
  	border: 2px solid #000 !important;
}

tr {
	border: 2px solid #000 !important;
}
table>thead>tr>th
	{
		border: 2px solid #000 !important;
	}

td {
	border: 2px solid #000 !important;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	padding: 7px !important;
}

.addon-empty {
	padding-left: 20px !important;
}

.bckg-white {
	background: #FFF !important;
}

.bckg-gray {
	background: #B5B5B5 !important;
}

.border-soft {
	border: 1px solid #000;
}

.border-bottom-soft {
	border-bottom: 1px solid #000 !important;
}

.border-top-soft {
	border-top: 1px solid #000 !important;
}

.color-black {
	color: #000 !important;
}

.caratula-dif-left {
	height: 158px;
	width: 270px;
}

.caratula-cree-center {
	height: 158px;
	width: 170px;
}

.img-cree-hfrontral {
	float: right;
	margin-right: 15px;
	height: 70px;
	width: 70px;
}

.main-border {
	border: 3px double #000;
	padding-left: 0px;
	padding-right: 0px;
	height: 1500px;
}

.main-border-wihtoutHeight {
	border: 3px double #000;
	padding-left: 0px;
	padding-right: 0px;
}

.simple-border {
	border: 1px solid #000;
	padding-left: 0px;
	padding-right: 0px;
}

.to-bottom {
	bottom: 0px;
	position: absolute;
}

.paddi-botom {
	padding-bottom: 16px;
}

.margin-top {
	margin-top: 10px !important;
}

.margin-top-md {
	margin-top: 25px !important;
}

.margin-top-bg {
	margin-top: 50px !important;
}

.margin-top-huge {
	margin-top: 100px !important;
}

.without-margin {
	margin: 0px !important;
}

.without-padding {
	padding: 0px !important;
}

.color-white {
	background-color: #FFF;
}