@media print{
	@page {
		margin: 0cm;
		size: portrait;
	}

	body {
		font-size: 8pt;
	}

	.break {
		page-break-before: always;
	}

	aside {
		display: none;
		margin-left: -210px;
	}

	.main-content, .tabpanel {
		margin-left: 0px;
	}

	.bckg-gray {
		background-color: #B5B5B5 !important;
	}

	.border-soft {
		border: 1px solid #000;
	}

	.border-left {
		border-left: 1px solid #000 !important;
	}

	.border-right {
		border-right: 1px solid #000 !important;
	}

	.border-bottom {
		border-bottom: 1px solid #000 !important;
	}

	.border-top {
		border-top: 1px solid #000 !important;
	}

	.wrapper {
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}

	.col-sm-12, .col-sm-10, .col-sm-8, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1  {
		float: left;
		position: relative;
	}

	.col-sm-12 {
		
		width: 100%;
	}

	.col-sm-1 {
		width: 8.33333333%;
	}

	.col-sm-2 {
		width: 16.6667%;
	}

	.col-sm-3 {
		width: 25%;
	}

	.col-sm-4 {
		width: 33.3333%;
	}

	.col-sm-5 {
		width: 41.6667%;
	}

	.col-sm-6 {
		width: 50%;
	}

	.col-sm-8 {
		width: 66.6667%;
	}

	.dif-Hprevaloracion {
		height: 50px;
		width: 85px;
	}

	.form-control {
		font-size: .8em;
		height: 30px;
		border: 0px;
		box-shadow: inset 0 0px 0 rgba(0,0,0,0);
		/*
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) inset;
    	border-style: solid;
		border-width: 1px;
		border-color: black;
		font-family: helvetica, arial, sans serif;
		*/
	}

	header.header {
		display: none;
	}

	.main-border {
		height: 950px;
	}

	.marginB {
		margin-bottom: 3px;
	}

	.margin-bottom-5 {
		margin-bottom: 5px !important;
	}

	.page-break-carnet {
		height: 530px;
	}

	.to-bottom {
		bottom: 0px;
		position: absolute;
	}

	table {
		color: #000;
		line-height: 1.42857143;
		font-size: .8em;
		border-color: #000 !important;
	}

	.table-bordered {
  		border: 2px solid #000 !important;
	}

	td {
		border-right: 2px solid #000 !important;
	}

	tr {
		border: 2px solid #000 !important;
	}
	td {
		border: 2px solid #000 !important;
	}
	table>thead>tr>th
	{
		border: 2px solid #000 !important;
	}
	table>tbody>tr>td{
		border: 2px solid #000 !important;
	}
	tr>td {
		border: 2px solid #000 !important;
	}

	.table-Hfrontal {
		/*font-size: 1em !important;
		height: 765px;
		margin-left: 1px !important;*/
	}

	.text-min {
		font-size: .7em;
	}

	.table-carnet {
		height: 445px;
	}

	.table-carnet-half {
		height: 175px;
		margin-bottom: 0px !important;
	}

	img {
		width: 50px;
		height: 50px;
	}

	img.carnet-logoCree{
		height: 220px; 
		padding-top: 25px;
		width: 190px; 
	}

	ul.nav {
		display: none;
	}
}