@media print{
	@page {
		margin: 0cm;
		size: landscape;
	}

	body {
		font-size: 8pt;
	}

	aside {
		display: none;
		margin-left: -210px;
	}

	.main-content, .tabpanel {
		margin-left: 0px;
	}

	.bckg-gray {
		background-color: #B5B5B5 !important;
	}

	.bckg-white {
		margin-left: -200px;
		width: 1056px;
	}

	.padding-to-fit-rigth {
		margin-right: 800px;
	}

	.border-soft {
		border: 1px solid #000;
	}

	.dif-left {
		height: 150px;
		width: 250px;
	}

	.wrapper {
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}

	.col-sm-12, .col-sm-10, .col-sm-8, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1  {
		float: left;
		position: relative;
	}

	.col-sm-12 {
		
		width: 100%;
	}

	.col-sm-1 {
		width: 8.33333333%;
	}

	.col-sm-2 {
		width: 16.6667%;
	}

	.col-sm-3 {
		width: 25%;
	}

	.col-sm-4 {
		width: 33.3333%;
	}

	.col-sm-5 {
		width: 41.6667%;
	}

	.col-sm-6 {
		width: 50%;
	}

	.col-sm-8 {
		width: 66.6667%;
	}

	.form-control {
		font-size: .8em;
		height: 30px;
		border: 0px;
		box-shadow: inset 0 0px 0 rgba(0,0,0,0);
	}

	header.header {
		display: none;
	}

	.marginB {
		margin-bottom: 3px;
	}

	.size-caratula {
		width: 1000px !important;
	}

	.to-bottom {
		bottom: 0px;
		position: absolute;
	}

	.text-min {
		font-size: .5em;
	}

	img {
		width: 50px;
		height: 50px;
	}	

	ul.nav {
		display: none;
	}
}