@media print{
	@page {
		margin: 0cm;
		size: portrait;
	}

	body {
		font-size: 8pt;
	}

	aside {
		display: none;
		margin-left: -210px;
	}

	.main-content, .tabpanel {
		margin-left: 0px;
	}

	.bckg-gray {
		background-color: #B5B5B5 !important;
	}

	.wrapper {
		margin-top: 0px;
		margin-left: 0px;
		margin-right: 0px;
	}

	.col-sm-12, .col-sm-10, .col-sm-8, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2  {
		float: left;
		position: relative;
	}

	.col-sm-12 {
		padding-left: 5px;
		width: 100%;
	}

	.col-sm-2 {
		width: 16.6667%;
	}

	.col-sm-3 {
		width: 25%;
	}

	.col-sm-4 {
		width: 33.3333%;
	}

	.col-sm-5 {
		width: 41.6667%;
	}

	.col-sm-6 {
		width: 50%;
	}

	.col-sm-8 {
		width: 66.6667%;
	}

	.form-control {
    	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0) inset;
    	border-style: solid;
		border-width: 1px;
		border-color: black;
		font-family: helvetica, arial, sans serif;
	}

	header.header {
		display: none;
	}

	img {
		width: 50px;
		height: 50px;
	}	

	ul.nav {
		display: none;
	}	
}