.badge {
	font-size: 1em !important;
}

.formOculto {
	display: none;
}

.mt , .mb {
	margin-top: 0px !important;
}

a {
	color: #FFF !important;
}

div .True {
	/*background: #2AC36C;*/
	background-color: #28B62C;
	border-color: #23A127;
}

div .False {
	/*background: #E74C3C;*/
	background-color: #FF4136;
	border-color: #FF291C;
}

div .None {
	/*background: #F4BE3A;*/
	background-color: #158CBA;
	border-color: #127BA3;
}
span .pacientes {
	background-color: #75CAEB;
	color: #FFF;
	font-size: 1.5em !important;
}