{% extends 'preconsulta/base.html' %}

{% load staticfiles %}

{% block title %} Imprimir Documentos {% endblock title %}

{% block filesJS %}
	<script src="{% static "preconsulta/assets/js/imprimirDocumentos.js" %}"></script>
{% endblock filesJS %}

{% block filesCSS %}
	<link rel="stylesheet" type="text/css" href="{% static "preconsulta/assets/css/imprimirDocumentos.css" %}"/>
{% endblock filesCSS %}

{% block content %}
<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Hprevaloracion" aria-controls="Hprevaloracion" role="tab" data-toggle="tab">Hoja Prevaloracion</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="Hprevaloracion">
    	<div class="col-lg-12 bckg-white">
    		<div class="col-lg-12 main-border">
    			<img class="img-responsive center-block" src="{% static "preconsulta/images/DIF-Hprevaloracion.jpg" %}" />
				<h3 class="text-center"><strong>CENTRO DE REHABILITACION DE CAMPECHE</strong></h3>
				<h3 class="text-center"><strong>HOJA DE PREVALORACION</strong></h3>
				<div class="col-lg-12 bckg-gray">
					<div class="col-lg-8 text-center">
						<p class="whithout-margin color-black">NOMBRE DEL USUARIO</p>
					</div>
					<div class="col-lg-4 text-center">
						<p class="whithout-margin color-black">CURP</p>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-8 text-center">
						<p class="whithout-margin color-black"><strong>{{ paciente.nombre}} {{ paciente.apellidoP }} {{ paciente.apellidoM}}</strong></p>
					</div>
					<div class="col-lg-4 text-center">
						<p class="whithout-margin color-black"><strong>{{ paciente.curp }}</strong></p>
					</div>
				</div>
				<div class="col-lg-12 bckg-gray">
					<div class="col-lg-2 text-center">
						<p class="whithout-margin color-black">EDAD</p>
					</div>
					<div class="col-lg-2 text-center">
						<p class="whithout-margin color-black">SEXO</p>
					</div>
					<div class="col-lg-3 text-center">
						<p class="whithout-margin color-black">FECHA</p>						
					</div>
					<div class="col-lg-5 text-center">
						<p class="whithout-margin color-black">OCUPACION</p>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-2 text-center">
						<p class="whithout-margin color-black"><strong>{{ paciente.edad }}</strong></p>
					</div>
					<div class="col-lg-2 text-center">
						<p class="whithout-margin color-black"><strong>
							{% if paciente.genero == 1 %}
								HOMBRE
							{% elif paciente.genero == 0%}
								MUJER
							{% else %}
								DESCONOCIDO
							{% endif %}
						</strong></p>
					</div>
					<div class="col-lg-3 text-center">
						<p class="whithout-margin color-black"><strong>{{ hojaPrevaloracion.fechacreacion}}</strong></p>
					</div>
					<div class="col-lg-5 text-center">
						<p class="whithout-margin color-black"><strong>{{ hojaPrevaloracion.ocupacion.descripcion}}</strong></p>
					</div>
				</div>
				<div class="col-lg-12 bckg-gray">
					<div class="col-lg-4 text-center">
						<p class="whithout-margin color-black">ESCOLARIDAD</p>
					</div>
					<div class="col-lg-8 text-center">
						<p class="whithout-margin color-black">REFERIDO POR</p>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-4 text-center">
						<p class="whithout-margin color-black"><strong>{{ hojaPrevaloracion.escolaridad.descripcion }}</strong></p>
					</div>
					<div class="col-lg-8 text-center">
						<p class="whithout-margin color-black"><strong>{{ hojaPrevaloracion.referidopor.descripcion }}</strong></p>
					</div>
				</div>
				<div class="col-lg-12 bckg-gray">
					<div class="col-lg-8 text-center">
						<p class="whithout-margin color-black">DOMICILIO</p>
					</div>
					<div class="col-lg-4 text-center">
						<p class="whithout-margin color-black">TELEFONO</p>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-8 text-center">
						<p class="whithout-margin color-black"><strong>{{ paciente.calle }} {{ paciente.entrecalles}} {{ paciente.numerocasa }} {{ paciente.colonia }}</strong></p>
					</div>
					<div class="col-lg-4 text-center">
						<p class="whithout-margin color-black"><strong>
							{% if paciente.telefonocasa %}
								{{ paciente.telefonocasa }}
							{% elif paciente.telefonocelular %}
								{{ paciente.telefonocelular }}
							{% else %}
								No cuenta con Telefono
							{% endif %}
						</strong></p>
					</div>
				</div>
				<div class="col-lg-12">
					<p class="whithout-margin color-black">MOTIVO CONSULTA</p>
				</div>
				<div class="col-lg-12">
					<p class="whithout-margin color-black"><strong>{{ hojaPrevaloracion.motivoconsulta }}</strong></p>
				</div>
				<div class="col-lg-12">
					<p class="whithout-margin color-black">DIAGNOSTICO NOSOLOGICO Y DE INVALIDEZ</p>
				</div>
				<div class="col-lg-12">
					<p class="whithout-margin color-black"><strong>{{ hojaPrevaloracion.diagnosticonosologico }}</strong></p>
				</div>
				<div class="col-lg-12">
					<p class="whithout-margin color-black">PSICOLOGIA</p>
				</div>
				<div class="col-lg-12">
					<p class="whithout-margin color-black"><strong>{{ hojaPrevaloracion.psicologia }}</strong></p>
				</div>
				<div class="col-lg-12">
					<p class="whithout-margin color-black">DIAGNOSTICO NOSOLOGICO Y DE INVALIDEZ (BREVE RESEÑA DEL P.A.)</p>
				</div>
				<div class="col-lg-12">
					<p class="whithout-margin color-black"><strong>{{ hojaPrevaloracion.diagnosticonosologico2 }}</strong></p>
				</div>
				<div class="col-lg-12">
					<p class="whithout-margin color-black">CITA A:  (SERVICIOS DEL CREE)</p>
				</div>
				<div class="col-lg-12">
					{% for servicio in serviciosExpediente %}
						<p class="whithout-margin color-black"><strong>{{ servicio.servicio }}</strong></p>	
					{% endfor %}
				</div>
				<div class="col-lg-12">
					<p class="whithout-margin color-black">INTEGRAR AL PROGRAMA DE:</p>
				</div>
				<div class="col-lg-12">
					{% for servicio in serviciosExpediente %}
						<p class="whithout-margin color-black"><strong>{{ servicio.servicio }}</strong></p>	
					{% endfor %}
				</div>
				<div class="col-lg-12 text-center">
					<h4><strong>NOMBRE, FIRMA  Y NUMERO DE CREDENCIAL DEL MÉDICO:</strong></h4>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-6 text-center">
						<br/>
						<br/>
						<p class="whithout-margin color-black">{{ hojaPrevaloracion.doctor.user.first_name }} {{ hojaPrevaloracion.doctor.user.last_name }} {{ hojaPrevaloracion.doctor.cedula_profesional}}</p>
					</div>
					<div class="col-lg-6 text-center">
						<br/>
						<br/>
						<p class="whithout-margin color-black">{{ hojaPrevaloracion.psicologo.user.first_name }} {{ hojaPrevaloracion.psicologo.user.last_name }} {{ hojaPrevaloracion.psicologo.cedula_profesional}}</p>
					</div>
				</div>
    		</div>	
    	</div>
    </div>
    <div role="tabpanel" class="tab-pane" id="profile">
    	<p>Prueba de profile</p>
    </div>
    <div role="tabpanel" class="tab-pane" id="messages">...</div>
    <div role="tabpanel" class="tab-pane" id="settings">...</div>
  </div>

</div>
{% endblock content %}