{% extends 'preconsulta/base.html' %}

{% load staticfiles %}

{% block title %} Prevaloracion Medica {% endblock title %}

{% block filesJS %}
	<script src="{% static "preconsulta/assets/js/revision_medica.js" %}"></script>
{% endblock filesJS %}

{% block filesCSS %}
	<link rel="stylesheet" type="text/css" href="{% static "preconsulta/assets/css/prevaloracion.css" %}"/>
{% endblock filesCSS %}

{% block content %}
<!-- Start form oculto para agregar pacientes nuevos-->
<div class="row mt color-black" id="form">
	<div class="col-lg-12">
		<div class="form-panel">
			<h3 class="mb">Formulario revision medica</h3>
			<form class="form-horizontal tasi-form" role="form">
				{% csrf_token %}
				<div class="form-group">
					<div class="col-lg-12">
						<label for="motivoConsulta" class="control-label">MOTIVO DE CONSULTA:</label>
						<textarea class="form-control text-uppercase" id="motivoConsulta" placeholder="MOTIVO DE CONSULTA" rows="5">{% if hojaPrevaloracion %}{{ hojaPrevaloracion.motivoconsulta }}{% endif %}</textarea>
					</div>					
				</div>
				<div class="form-group">
					<div class="col-lg-12">
						<label for="diagnosticoNosologico" class="control-label">DIAGNOSTICO NOSOLOGICO Y DE INVALIDEZ:</label>
						<textarea class="form-control text-uppercase" id="diagnosticoNosologico" placeholder="DIAGNOSTICO NOSOLOGICO Y DE INVALIDEZ" rows="5">{% if hojaPrevaloracion %}{{ hojaPrevaloracion.diagnosticonosologico }}{% endif %}</textarea>
					</div>					
				</div>
				<h4 class="mb">CITA A: (SERVICIOS DEL CREE)</h4>
				<div class="form-group">							
					{% for servicio in servicios %}
						<div class="col-lg-4">
							<div class="input-group">
								<span class="input-group-addon" style="background-color: #FFF;">
									<input type="checkbox" aria-label="..." value="{{servicio.id}}" name="servicios" 
									{% if expediente %}
									 {% for s in expediente.servicios.all %}
										{% if s.id == servicio.id %}
											checked
										{% endif %}
									 {% endfor %}
									{% endif %}
									>
								</span>
								<input type="text" class="form-control" aria-label="..." placeholder="{{servicio.servicio}}"  disabled>
							</div><!-- /input-group -->
						</div>
					{% endfor %}						
				</div>
				<div class="form-group">
					<div class="col-lg-12">
						<label for="canalizacion" class="control-label">CANALIZACION A: (EXTRAINSTITUCIONAL):</label>
						<input type="text" class="form-control text-uppercase" id="canalizacion" placeholder="CANALIZACION A: (EXTRAINSTITUCIONAL)" value="{% if hojaPrevaloracion %}{{ hojaPrevaloracion.canalizacion }}{% endif %}">
					</div>					
				</div>
				<h4 class="mb">INTEGRAR AL PROGRAMA DE:</h4>
				<div class="form-group">							
					{% for programa in programas %}						
						<div class="col-lg-4">
							<div class="input-group">
								<span class="input-group-addon" style="background-color: #FFF;">
									<input type="checkbox" aria-label="..." value="{{programa.id}}" name="programas" 
									{% if expediente %}
									 {% for p in expediente.programas.all %}
										{% if p.id == programa.id %}
											checked
										{% endif %}
									 {% endfor %}
									{% endif %}
									>
								</span>
								<input type="text" class="form-control" aria-label="..." placeholder="{{programa.programa}}"  disabled>
							</div><!-- /input-group -->
						</div>
					{% endfor %}						
				</div>
					<button class="btn btn-theme" id="RevisionPaciente" data-loading-text="Espere..."><i class="fa fa-heart"></i> Guardar</button>
					<input type="text" class="form-control hidden" aria-label="..." disabled value="{% if hojaPrevaloracion %}{{ hojaPrevaloracion.id }}{% endif %}" id="claveHoja">
			</form>
		</div><!-- /form-panel -->
	</div><!-- /col-lg-12 -->
</div>
<!-- End form oculto para agregar pacientes nuevos-->
<!-- Modal -->
<div class="modal fade" id="modalResponsablePaciente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Datos del Responsable del Paciente</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal tasi-form color-black" role="form">
            <div class="form-group">
                <div class="col-sm-12">
                    <div class="col-sm-3">
                        <label for="nombreResponsable" class="control-label">NOMBRE RESPONSABLE:</label>
                        <input type="text" class="form-control text-uppercase" id="nombreResponsable">
                    </div>
                    <div class="col-sm-3">
                        <label for="apellidosResponsable" class="control-label">APELLIDOS RESPONSABLE:</label>
                        <input type="text" class="form-control text-uppercase" id="apellidosResponsable">
                    </div>                  
                    <div class="col-sm-3">
                        <label for="edadResponsable" class="control-label">EDAD RESPONSABLE:</label>
                        <input type="text" class="form-control text-uppercase" id="edadResponsable">
                    </div>
                    <div class="col-sm-3">
                        <label for="generoResponsable" class="control-label">GENERO RESPONSABLE:</label>
                        <input type="text" class="form-control text-uppercase" id="generoResponsable">
                    </div>
                    <div class="col-sm-3">
                        <label for="parentescoResponsable" class="control-label">PARENTESCO RESPONSABLE:</label>
                        <select class="form-control" id="parentescoResponsable" name="parentescoResponsable">	
							{% for p in parentesco %}
								<option value="{{p.parentesco}}"> {{p.parentesco}} </option>
							{% endfor %}
						</select>
                    </div>
                    <div class="col-sm-3">
                        <label for="domicilioResponsable" class="control-label">DOMICILIO RESPONSABLE:</label>
                        <input type="text" class="form-control text-uppercase" id="domicilioResponsable">
                    </div>
                    <div class="col-sm-3">
                        <label for="coloniaResponsable" class="control-label">COLONIA RESPONSABLE:</label>
                        <input type="text" class="form-control text-uppercase" id="coloniaResponsable">
                    </div>
                    <div class="col-sm-3">
                        <label for="codigopostalResponsable" class="control-label">C.P. RESPONSABLE:</label>
                        <input type="text" class="form-control text-uppercase" id="codigopostalResponsable">
                    </div>
                    <div class="col-sm-3">
                        <label for="telefonoResponsable" class="control-label">TELEFONO RESPONSABLE:</label>
                        <input type="text" class="form-control text-uppercase" id="telefonoResponsable">
                    </div>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-success" id="saveHojaPrevaloracion" data-dismiss="modal">Guardar Datos</button>
      </div>
    </div>
  </div>
</div>
<!-- end Modal -->
<script>
var CURP = "{{ curp }}";
var user = "{{ user }}";
var edadPaciente = "{{ edad }}";
//console.log(user);
</script>
{% endblock content %}