{% extends 'preconsulta/base.html' %}

{% load staticfiles %}

{% block title %} Prevaloracion Estudio Socioeconomico {% endblock title %}

{% block filesJS %}
	<script src="{% static "preconsulta/assets/js/revision_estudioS.js" %}"></script>
{% endblock filesJS %}

{% block filesCSS %}
	<link rel="stylesheet" type="text/css" href="{% static "preconsulta/assets/css/prevaloracion-estudio-economico.css" %}"/>
{% endblock filesCSS %}

{% block content %}
<!-- Start form oculto para agregar pacientes nuevos-->
<div class="row mt color-black" id="form">
	<div class="col-lg-12">
		<div class="form-panel">
			<h4 class="mb">Formulario Estudio Socioeconomico</h4>
			<form class="form-horizontal tasi-form" role="form">
				{% csrf_token %}
				<div class="form-group">
					<div class="col-lg-12">
						<div class="col-lg-4">
							<div class="input-group">									
								<span class="input-group-addon">Clasificacion Economica</span>
								<select class="form-control" id="clasificacionE" disabled>
									{% for e in clasificacionEconomica %}
										<option value="{{e.id}}"> {{e.clasificacion}} </option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="col-lg-4">
							<div class="input-group">
								<span class="input-group-addon add-on-white">
									<input type="checkbox" aria-label="..." id="clasificacionNueva">
								</span>
								<input type="text" class="form-control" aria-label="..." placeholder="Al dar clic podra cambiar la clasificacion"  disabled>
							</div>	
						</div>
					</div>
				</div>
				<div class="form-group oculto" id="justificacionClasificacion">
					<div class="col-lg-12">
						<div class="col-lg-12">
							<textarea class="form-control text-uppercase" id="textJustificacionC" placeholder="JUSTIFIQUE EL CAMBIO DE CLASIFICACION ECONOMICA" rows="2"></textarea>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-12">
						<div class="col-lg-3">
							<input type="text" class="form-control text-uppercase" id="nombreEntrevistado" placeholder="Nombre Entrevistado">
						</div>
						<div class="col-lg-3">
							<input type="text" class="form-control text-uppercase" id="apellidoEntrevistado" placeholder="Apellido Entrevistado">
						</div>
						<div class="col-lg-3">
							<div class="input-group">									
								<span class="input-group-addon">Estado Civil</span>
								<select class="form-control" id="estadoCivil">	
									<option value="SOLTERO"> SOLTERO </option>
									<option value="CASADO"> CASADO </option>
									<option value="VIUDO"> VIUDO </option>
								</select>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="input-group">
								<span class="input-group-addon">Parentesco</span>
								<select class="form-control" id="parentescoEntrevistado">	
									<option value="PADRE"> PADRE </option>
									<option value="MADRE"> MADRE </option>
									<option value="HIJO"> HIJO </option>
									<option value="HERMANO"> HERMANO </option>
									<option value="HERMANA"> HERMANA </option>
									<option value="TIO"> TIO </option>
									<option value="TIA"> TIA </option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-12">
						<div class="col-lg-6">
							<div class="input-group">									
								<span class="input-group-addon">Motivo Estudio</span>
								<select class="form-control" id="motivoEstudio">
									{% for motivo in motivosEsutdio %}				
									<option value="{{motivo.id}}"> {{motivo.motivoestudio}} </option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<h4 class="mb page-header">Situacion Economica</h4>
				<div class="form-group">
					<div class="col-lg-12">
						<div class="col-lg-4">
							<div class="panel panel-default">
								<div class="panel-heading">INGRESOS</div>
								<div class="panel-body">
									{% for ingreso in ingresos %}
										<div class="input-group">									
											<span class="input-group-addon">$</span>
											<input type="text" class="form-control" name="ingresos" id="{{ingreso.id}}" placeholder="{{ingreso.descripcion}}">
										</div>
									{% endfor %}
								</div>
							</div>
						</div>	
						<div class="col-lg-4">
							<div class="panel panel-default">
								<div class="panel-heading">EGRESOS</div>
								<div class="panel-body">
									{% for egreso in egresos %}
										<div class="input-group">									
											<span class="input-group-addon">$</span>
											<input type="text" class="form-control" name="egresos" id="{{egreso.id}}" placeholder="{{egreso.descripcion}}">
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="col-lg-4 hidden">
							<div class="input-group">									
								<span class="input-group-addon">$</span>
								<input type="text" class="form-control" id="deficit" placeholder="DEFICIT"value="0">
							</div>
							<div class="input-group">									
								<span class="input-group-addon">$</span>
								<input type="text" class="form-control" id="excedente" placeholder="EXCEDENTE" value="0">
							</div>
						</div>
					</div>		
				</div>				
				<div class="col-lg-12 page-header">
					<div class="col-lg-4">
						<h4 class="mb">Caracteristicas de la Vivienda</h4>
					</div>
					<div class="col-lg-8">
					<select class="form-control" id="tipoVivienda">
						{% for tipo in tipoVivienda %}
						<option value="{{tipo.id}}"> {{tipo.vivienda}} </option>
						{% endfor %}
					</select>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="col-lg-4">
						<div class="panel panel-default">
							<div class="panel-heading">Componentes de la Vivienda</div>
							<div class="panel-body">			
								{% for componente in componentesVivienda %}
								<div class="input-group">
									<span class="input-group-addon add-on-white">
										<input type="checkbox" aria-label="..." value="{{componente.id}}" name="componentesVivienda">
									</span>
									<input type="text" class="form-control" aria-label="..." placeholder="{{componente.componente}}"  disabled>
								</div>
								{% endfor %}
								<input type="text" class="form-control text-uppercase" id="cantidadBanios" placeholder="No. Baños">
								<input type="text" class="form-control text-uppercase" id="cantidadRecamaras" placeholder="No. Recamaras">
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="panel panel-default">
							<div class="panel-heading">Servicios de la Vivienda</div>
							<div class="panel-body">					
								{% for servicio in servicioVivienda %}
								<div class="input-group">
									<span class="input-group-addon add-on-white">
										<input type="checkbox" aria-label="..." value="{{servicio.id}}" name="serviciosVivienda">
									</span>
									<input type="text" class="form-control" aria-label="..." placeholder="{{servicio.servicio}}"  disabled>
								</div>
								{% endfor %}							
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="panel panel-default">
							<div class="panel-heading">Tenencia de la Vivienda</div>
							<div class="panel-body">				
								{% for tenencia in tenenciaVivienda %}
								<div class="input-group">
									<span class="input-group-addon add-on-white">
										<input type="checkbox" aria-label="..." value="{{tenencia.id}}" name="tenenciasVivienda">
									</span>
									<input type="text" class="form-control" aria-label="..." placeholder="{{tenencia.tenencia}}"  disabled>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>					
				</div>				
				<div class="col-lg-12">
					<div class="col-lg-4">
						<div class="panel panel-default">
							<div class="panel-heading">Construccion de la Vivienda</div>
							<div class="panel-body">			
								{% for construccion in construccionVivienda %}
								<div class="input-group">
									<span class="input-group-addon add-on-white">
										<input type="checkbox" aria-label="..." value="{{construccion.id}}" name="construccionVivienda">
									</span>
									<input type="text" class="form-control" aria-label="..." placeholder="{{construccion.componente}}"  disabled>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="panel panel-default">
							<div class="panel-heading">Barreras Internas Vivienda</div>
							<div class="panel-body">					
								{% for bInternas in barrerasInternasVivienda %}
								<div class="input-group">
									<span class="input-group-addon add-on-white">
										<input type="checkbox" aria-label="..." value="{{bInternas.id}}" name="barrerasInternasVivienda">
									</span>
									<input type="text" class="form-control" aria-label="..." placeholder="{{bInternas.barrera}}"  disabled>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="panel panel-default">
							<div class="panel-heading">Barreras Externas Vivienda</div>
							<div class="panel-body">				
								{% for bExternas in barrerasExternasVivienda %}
								<div class="input-group">
									<span class="input-group-addon add-on-white">
										<input type="checkbox" aria-label="..." value="{{bExternas.id}}" name="barrerasExternasVivienda">
									</span>
									<input type="text" class="form-control" aria-label="..." placeholder="{{bExternas.barrera}}"  disabled>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>					
				</div>
				<div class="form-group">
					<div class="col-lg-12">	
						<textarea class="form-control text-uppercase" id="datosSignificativos" placeholder="DATOS SIGNIFICATIVOS DE LA FAMILIA Y USUARIO" rows="5"></textarea>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-12">	
						<textarea class="form-control text-uppercase" id="diagnosticoPlanS" placeholder="DIAGNOSTICO Y PLAN SOCIAL" rows="5"></textarea>
					</div>					
				</div>
				<div class="col-lg-12 page-header">
					<div class="col-lg-3">
						<h4 class="mb">Estructura Familiar</h4>
					</div>
					<div class="col-lg-1">
						<button type="button" class="btn btn-round btn-warning" id="addEstructuraFamiliar"><i class="fa fa-heart"></i> Agregar</button>
					</div>
				</div>
				<div class="col-lg-12">
						<div class="col-lg-2">
							<span id="helpBlock" class="help-block text-uppercase">Nombre del Familiar</span>
						</div>
						<div class="col-lg-2">
							<span id="helpBlock" class="help-block text-uppercase">Apellidos del Familiar</span>
						</div>
						<div class="col-lg-2">
							<span id="helpBlock" class="help-block text-uppercase">Parentesco</span>
						</div>
						<div class="col-lg-1">
							<span id="helpBlock" class="help-block text-uppercase">Edad</span>
						</div>
						<div class="col-lg-2">
							<span id="helpBlock" class="help-block text-uppercase">Estado Civil</span>
						</div>
						<div class="col-lg-2">
							<span id="helpBlock" class="help-block text-uppercase">Ocupacion</span>
						</div>
						<div class="col-lg-2">
							<span id="helpBlock" class="help-block text-uppercase">Escolaridad</span>
						</div>
					</div>			
				<div id="estructura-familiar">
					<div class="form-group" id="form-estructura">
						<div class="col-lg-12">
							<div class="col-lg-2">
								<input type="text" class="form-control text-uppercase" id="nombreFamiliar" placeholder="Nombre Familiar" name="nombreFamiliar">
							</div>
							<div class="col-lg-2">
								<input type="text" class="form-control text-uppercase" id="apellidosFamiliar" placeholder="Apellidos Familiar" name="apellidosFamiliar">
							</div>
							<div class="col-lg-2">
								<select class="form-control" id="parentesco" name="parentescoFamiliar">	
									<option value="PADRE"> PADRE </option>
									<option value="MADRE"> MADRE </option>
									<option value="HIJO"> HIJO </option>
									<option value="HERMANO"> HERMANO </option>
									<option value="HERMANA"> HERMANA </option>
									<option value="TIO"> TIO </option>
									<option value="TIA"> TIA </option>
								</select>
							</div>
							<div class="col-lg-1">
								<input type="text" class="form-control text-uppercase" id="edadFamiliar" placeholder="Edad" name="edadFamiliar">
							</div>
							<div class="col-lg-2">
								<select class="form-control" id="estadoCivilFamiliar" name="estadoCivilFamiliar">	
									<option value="SOLTERO"> SOLTERO </option>
									<option value="CASADO"> CASADO </option>
									<option value="VIUDO"> VIUDO </option>
								</select>
							</div>
							<div class="col-lg-2">
								<select class="form-control" id="ocupacionFamiliar" name="ocupacionFamiliar">
									{% for o in ocupaciones %}
										<option value="{{o.id}}"> {{o.descripcion}} </option>
									{% endfor %}
								</select>
							</div>
							<div class="col-lg-2">
								<select class="form-control" id="escolaridadFamiliar" name="escolaridadFamiliar">
									{% for e in escolaridades %}
										<option value="{{e.id}}"> {{e.descripcion}} </option>
									{% endfor %}
								</select>
							</div>
						</div>		
					</div>
				</div>
					<button class="btn btn-theme" id="RevisionPaciente" data-loading-text="Espere..."><i class="fa fa-heart"></i> Guardar</button>
			</form>
		</div><!-- /form-panel -->
	</div><!-- /col-lg-12 -->
</div>
<!-- End form oculto para agregar pacientes nuevos-->
<script>
var CURP = "{{ curp }}";
//console.log(CURP);
</script>
{% endblock content %}