{% extends 'preconsulta/base.html' %}

{% load staticfiles %}

{% block title %} Prevaloracion Medica - Paciente {% endblock title %}

{% block filesJS %}
	<script src="{% static "preconsulta/assets/js/revision_medica.js" %}"></script>
{% endblock filesJS %}

{% block filesCSS %}
	<link rel="stylesheet" type="text/css" href="{% static "preconsulta/assets/css/prevaloracion.css" %}"/>
{% endblock filesCSS %}

{% block content %}
<!-- Start form oculto para agregar pacientes nuevos-->
<div class="row mt" id="form">
	<div class="col-lg-12">
		<div class="form-panel">
			<h3 class="mb">Formulario revision medica</h3>
			<form class="form-horizontal tasi-form" role="form">
				{% csrf_token %}
				<div class="form-group">
					<div class="col-lg-12">					
						<textarea class="form-control text-uppercase" id="motivoConsulta" placeholder="MOTIVO DE CONSULTA" rows="5"></textarea>
					</div>					
				</div>
				<div class="form-group">
					<div class="col-lg-12">					
						<textarea class="form-control text-uppercase" id="diagnosticoNosologico" placeholder="DIAGNOSTICO NOSOLOGICO Y DE INVALIDEZ" rows="5"></textarea>
					</div>					
				</div>
				<h4 class="mb">CITA A:  (SERVICIOS DEL CREE)</h4>
				<div class="form-group">							
					{% for servicio in servicios %}						
						<div class="col-lg-4">
							<div class="input-group">
								<span class="input-group-addon" style="background-color: #FFF;">
									<input type="checkbox" aria-label="..." value="{{servicio.id}}" name="servicios">
								</span>
								<input type="text" class="form-control" aria-label="..." placeholder="{{servicio.servicio}}"  disabled>
							</div><!-- /input-group -->
						</div>
					{% endfor %}						
				</div>
				<div class="form-group">
					<div class="col-lg-12">					
						<input type="text" class="form-control text-uppercase" id="canalizacion" placeholder="CANALIZACION A: (EXTRAINSTITUCIONAL)"></textarea>
					</div>					
				</div>
				<h4 class="mb">INTEGRAR AL PROGRAMA DE :</h4>
				<div class="form-group">							
					{% for programa in programas %}						
						<div class="col-lg-4">
							<div class="input-group">
								<span class="input-group-addon" style="background-color: #FFF;">
									<input type="checkbox" aria-label="..." value="{{programa.id}}" name="programas">
								</span>
								<input type="text" class="form-control" aria-label="..." placeholder="{{programa.programa}}"  disabled>
							</div><!-- /input-group -->
						</div>
					{% endfor %}						
				</div>
					<button class="btn btn-theme" id="RevisionPaciente" data-loading-text="Espere..."><i class="fa fa-heart"></i> Guardar</button>
			</form>
		</div><!-- /form-panel -->
	</div><!-- /col-lg-12 -->
</div>
<!-- End form oculto para agregar pacientes nuevos-->
<script>
var CURP = "{{ curp }}";
var user = "{{ user }}";
console.log(user);
</script>
{% endblock content %}